<h1>Question</h1>

<div class="question-header">
  <h2><%= @question.title %></h2>
</div>
<div class="col-group">
    <div class="col-1 vote">
      <form action="/questions/votes/<%= @question.id  %>" method="post">
        <button type="submit" name="uservote" class="counter arrow-up" value="upvote"></button>
      </form>
      <%= vote_count(@question.votes)%>
      <form action="/questions/votes/<%= @question.id  %>" method="post">
        <button type="submit" name="uservote" class="counter arrow-down" value="downvote"></button>
      </form>
    </div>
    <div class="col-2">
      <div class="question-body">
        <%= @question.body %>
          <% if logged_in? %>
            <div id="comment-form" class="form-wrap">
            <form class="form" action="/comments/<%=@question.id%>" method="post">
              <div>
                <label for="question">Comment:</label>
                <textarea rows='3' type="text" name="comment[body]"></textarea>
              </div>
              <input type="submit" value="Comment">
            </form>
            </div>
          <% end %>

      </div>
        <div class="question-comments">
        <% @question_comments.each do |comment| %>
          <%= comment.body %>
        <% end %>
        </div>
    </div>
</div>

 <% @answers.each do |a|  %>
<div class="col-group">
  <div class="col-1 vote">
            <form action="/answers/votes/<%= a.id  %>" method="post">
              <button type="submit" name="uservote" class="counter arrow-up" value="upvote"></button>
            </form>
      <%= vote_count(a.votes)%>
            <form action="/answers/votes/<%= a.id  %>" method="post">
        <button type="submit" name="uservote" class="counter arrow-down" value="downvote"></button>
      </form>
<% if current_user.questions.include?(current_question) %>
       <form action="/best_answer/<%= a.id  %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" name="best_answer" class="best_answer_button" value="Best"></button>
</form>
<% end %>
  </div>
  <div class="col-2 ">

    <div class="question-answer"><%= a.body %></div>
      <% a.comments.each do |comment| %>
      <div class="comment-answer"><%= comment.body %></div>
      <% end %>

    <% if logged_in? %>
            <div id="comment-form" class="form-wrap">
            <form class="form" action="/comments/<%=a.id%>" method="post">
              <div>
                <label for="abswer">Comment:</label>
                <textarea rows='1' type="text" name="comment[body]"></textarea>
              </div>
              <input type="submit" value="Comment">
            </form>
            </div>
      <% end %>

  </div>
</div>
 <% end %>

<% if logged_in? %>
  <div id="answer-form" class="form-wrap">
  <form class="form" action="/answers" method="post">
    <div>
      <label for="question">Answer:</label>
      <textarea rows='10' type="text" name="answer[body]"></textarea>
    </div>
    <input type="submit" value="Post Your Answer">
  </form>
  </div>

<% end %>
